<h1 class="my-3">Post in Evidenza</h1>
<div class="constainer">
  <div class="row">
    <div class="card shadow">
      <div *ngIf="postInEvidenza" class="card-body">
        <h5 class="card-title">{{ postInEvidenza.title }}</h5>
        <p class="card-text">
          {{ postInEvidenza.body }}
        </p>
      </div>
    </div>
  </div>
</div>
<h2></h2>
<div class="container">
  <div class="row">
    <div class="card shadow">
      <div *ngIf="postInEvidenza" class="card-body">
        <h5 class="card-title">{{ postInEvidenza.title }}</h5>
        <p class="card-text">
          {{ postInEvidenza.body }}
        </p>
      </div>
    </div>
    <div class="card shadow">
      <div *ngIf="postInEvidenza" class="card-body">
        <h5 class="card-title">{{ postInEvidenza.title }}</h5>
        <p class="card-text">
          {{ postInEvidenza.body }}
        </p>
      </div>
    </div>
    <div class="card shadow">
      <div *ngIf="postInEvidenza" class="card-body">
        <h5 class="card-title">{{ postInEvidenza.title }}</h5>
        <p class="card-text">
          {{ postInEvidenza.body }}
        </p>
      </div>
    </div>
    <div class="card shadow">
      <div *ngIf="postInEvidenza" class="card-body">
        <h5 class="card-title">{{ postInEvidenza.title }}</h5>
        <p class="card-text">
          {{ postInEvidenza.body }}
        </p>
      </div>
    </div>
  </div>
</div>
